<%= render partial: "navbar",locals: {user: ""}%>
<div class="top-page" >
    <% @users.each do |user| %>
    <a href="/users/<%=user.id%>"><%=user.nickname%>さんの本棚</a>
    
      
    <% end %>
  </div>